@import '../../base-styles/variables.scss';

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    font-family: No;
}

.input-item {  

    &.show {
        width: auto;
        height: auto;
        margin: 10px auto;

    }

    &.hide {
        display: none;
    }
}

.input-field {
    border: transparent;
    outline: transparent;
    margin-left: 10px;
}

.submit-button {
    width: fit-content;
    border: transparent;
    border-radius: 10px;
    outline: transparent;
    padding: 5px;
    margin-left: 10px;
    cursor: pointer;
    background-color: $done;
    color: $fPrimary;
}