@import '../../base-styles/variables.scss';

.input-wrapper {
    width: fit-content;
    height: 20px;
    padding: 10px;
    font-family: 'Noto Sans', sans-serif;
}

.input-button {
    border: transparent;
    border-radius: 10px;
    outline: transparent;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
    font-family: 'Noto Sans', sans-serif;
}