@import '../components/header/header.scss';
@import '../components/card/card.scss';
@import '../components/column/column.scss';
@import '../components/drag-drop-area/drag-drop-area.scss';
@import '../components/app-window/app-window.scss';
@import '../components/input/input-wrapper.scss';
@import '../components/input/input-item.scss';
@import '../screens/kanban.scss';
@import './variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: $bgSecondary;
}

form {    
    input, button {
        font-family: 'Noto Sans', sans-serif;
    }
}