$fPrimary: #424242;
$fSecondary: #b9b9b9;
$black: black;
$white: white;

$bgPrimary: #ffffff;
$bgSecondary: #f7f8fa;
$bgHeader: #3d3d3d;
$border: #dcdcdc;

$toDo: #96beff;
$inProgress: #ff79a8;
$qa: #a381ff;
$done: #91deaf;