@import '../../base-styles/variables.scss';

.column {
    width: 100%;
    overflow: scroll;

    @media(max-width: 768px) {
        height: 100%;
    }
}

.btn-wrapper {
    > button {
        border: transparent;
        background-color: transparent;
    }
}
