@import '../base-styles/variables.scss';

.row {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 40px;

    @media(min-width: 1200px) {
        justify-content: center;
    }

    > .column-container {
        min-width: 250px;
        min-height: 100px;
        height: 100%;
        margin: 20px;
        padding: 10px;
        border-radius: 10px;
        background-color: transparent;
        border-left: 1px solid $border;
        overflow: scroll;

        > .column-title {
            padding-top: 0;
            color: $fPrimary;
        }
    }

}