@import '../../base-styles/variables.scss';

.card {
    width: auto;
    max-width: 180px; 
    height: auto;
    max-height: 300px;
    background-color: $white;
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px;
    box-shadow: 2px 2px 2px lightgrey;
    display: flex;
    flex-direction: row;
    text-overflow: ellipsis;

    &:hover {
        background-color: $bgSecondary;
        cursor: pointer;
    }

}

.card-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 5px;

    > .title {
        width: 100%;
        height: auto;
        max-height: 100px;
        overflow: scroll;
        color: $fPrimary;
        font-weight: 400;
        font-style: italic;
    }

    > .status {
        width: 100%;
        height: 5px;
        margin: auto;
        border-radius: 5px;

        &.todo {
            background-color: $toDo;
        }

        &.inprogress {
            background-color: $inProgress;
        }

        &.qa {
            background-color: $qa;
        }

        &.done {
            background-color: $done;
        }
    }
}

.card-delete {
    border: transparent;
    background-color: transparent;
    border-radius: 2px;
    outline: transparent;
    padding: 1px 5px;
    margin-left: 5px;
    cursor: pointer;
    height: fit-content;
}