@import '../../base-styles/variables.scss';

.header {
    width: 100%;
    height: 50px;
    background-color: $bgHeader;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;

    > .content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 10px;

        > h1 {
            font-size: 1em;
            color: $fSecondary;
        }
    }
    
}