@import '../../base-styles/variables.scss';

.modal {
    background-color: #F4F5F7;
    border-radius: 10px;
    margin: auto;
    min-height: fit-content;
    max-height: 50%;
    min-width: 400px;
    max-width: 50%;
    outline: none;
    overflow: scroll;

    @media(max-width: 768px) {
        width: 100%;
        min-width: unset;
        max-width: unset;
        margin: auto 10px;
    }

    > .top-wrapper {
        color: $fSecondary;
        background-color: $bgHeader;
        padding: 20px;

        @media(max-width: 768px) {
            padding: 5px 5px 5px 10px;
        }

        > .close-button-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
    
            > .close-button {
                background-color: transparent;
                outline: none;
                border: none;
                cursor: pointer;
                font-size: 1em;
                color: $fSecondary;
                margin: 0 10px;

            }
        }
    
        > .top-content {
             width: 100%;
    
            > .title-wrapper {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                font-style: italic;
                color: $fSecondary;
                padding-bottom: 5px;
    
                > .modal-title {
                    width: 100%;
                    font-style: inherit;
                    color: inherit;
                    margin: 0;
                }
    
                > .status {
                    font-size: .75em;
                    font-style: inherit;
                    color: inherit;
                    padding-bottom: 5px;
                    
                    &.todo {
                        border-bottom: 2px solid $toDo;
    
                        > span {
                            color: $toDo;
                        }
                    }
                    
                    &.inprogress {
                        border-bottom: 2px solid $inProgress;
    
                        > span {
                            color: $inProgress;
                        }
                    }
                    
                    &.qa {
                        border-bottom: 2px solid $qa;
    
                        > span {
                            color: $qa;
                        }
                    }
                    
                    &.done {
                        border-bottom: 2px solid $done;
    
                        > span {
                            color: $done;
                        }
                    }
                }
            }
        }
    }

    > .bottom-content {

        width: 60%;

        > .description {
            width: 100%;
            color: $fPrimary;
            padding: 20px;
        }
    }
}

.overlay {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000080;;
}
